<div class="fixed">
  <!--
  <div class="welcome">

    <div class="setting">
      
      <div class="logo">
        <img src="assets/images/icon.png" class="logo">
      </div>
      
      <div class="name" [formGroup]="fbFormGroup">
        <input type="text" class="ri" placeholder="Red player name..." formControlName="ri">
        <input type="text" class="gi" placeholder="Green player name..." formControlName="gi">
        <input type="text" class="yi" placeholder="Yellow player name..." formControlName="yi">
        <input type="text" class="bi" placeholder="Blue player name..." formControlName="bi"><br>
        <button class="play" (click)="play()">Play</button><br>
        <span class="note">if only two players playing enter only two names</span>
      </div>
      
    </div>
  </div>
  -->
  <div class="mainframe">

    <div class="diceboard">
      <div class="info">
        <span class="playername text-danger">
          Red Player
        </span>
        <div class="r-dice">
          <img src={{dicevalue1}} (click)="diceroll1()" style="height: 100%;width: 100%;">

        </div>
      </div>
      <div class="info">

        <div class="b-dice">
          <img src={{dicevalue4}} (click)="diceroll4()" style="height: 100%;width: 100%;">
        </div>
        <span class="playername text-primary">
          Blue Player
        </span>
      </div>

    </div>

    <div class="mdiceboard">
      <div class="info">
        <span class="mplayername text-danger">
          Red Player
        </span>
        <div class="r-dice">

          <img src={{dicevalue1}} (click)="diceroll1()" style="height: 100%;width: 100%;">
        </div>
      </div>
      <div class="info">
        <span class="mplayername text-success">
          Green Player
        </span>
        <div class="g-dice">

          <img src={{dicevalue2}} (click)="diceroll2()" style="height: 100%;width: 100%;">
        </div>

      </div>
    </div>
    <div class="ludoboard">
      <div class="red">
        <div class="playerzone">
          <div class="player"><span class="rp r material-icons">stars</span>
          </div>
          <div class="player"><span class="rp r material-icons">stars</span>
          </div>
          <div class="player"><span class="rp r material-icons">stars</span>
          </div>
          <div class="player"><span class="rp r material-icons">stars</span>
          </div>
        </div>
      </div>
      <div class="astep step"></div>
      <div class="astep step"></div>
      <div class="astep step"></div>
      <div class="green">
        <div class="playerzone">
          <div class="player"><span class="rp g material-icons">stars</span>
          </div>
          <div class="player"><span class="rp g material-icons">stars</span>
          </div>
          <div class="player"><span class="rp g material-icons">stars</span>
          </div>
          <div class="player"><span class="rp g material-icons">stars</span>
          </div>
        </div>
      </div>

      <div class="astep step"></div>
      <div class="astep greensafe"></div>
      <div class="astep gstop"></div>
      <div class="astep step rstop"></div>
      <div class="astep greensafe"></div>
      <div class="astep step"></div>
      <div class="astep step"></div>
      <div class="astep greensafe"></div>
      <div class="astep step"></div>
      <div class="astep step"></div>
      <div class="astep greensafe"></div>
      <div class="astep step"></div>
      <div class="astep step"></div>
      <div class="astep greensafe"></div>
      <div class="astep step"></div>

      <div class="astep step"></div>
      <div class="astep rstop"></div>
      <div class="astep step"></div>
      <div class="astep step"></div>
      <div class="astep step"></div>
      <div class="astep step"></div>

      <div class="centerbox"></div>

      <div class="astep step"></div>
      <div class="astep step"></div>
      <div class="astep step"></div>
      <div class="astep step gstop"></div>
      <div class="astep step"></div>
      <div class="astep step"></div>

      <div class="astep step"></div>
      <div class="astep redsafe"></div>
      <div class="astep redsafe"></div>
      <div class="astep redsafe"></div>
      <div class="astep redsafe"></div>
      <div class="astep redsafe"></div>

      <div class="astep yellowsafe"></div>
      <div class="astep yellowsafe"></div>
      <div class="astep yellowsafe"></div>
      <div class="astep yellowsafe"></div>
      <div class="astep yellowsafe"></div>
      <div class="astep step"></div>

      <div class="astep step"></div>
      <div class="astep step"></div>
      <div class="astep step bstop"></div>
      <div class="astep step"></div>
      <div class="astep step"></div>
      <div class="astep step"></div>

      <div class="astep step"></div>
      <div class="astep step"></div>
      <div class="astep step"></div>
      <div class="astep step"></div>
      <div class="astep ystop"></div>
      <div class="astep step"></div>




      <div class="blue">
        <div class="playerzone">
          <div class="player"><span class="rp b b material-icons">stars</span>
          </div>
          <div class="player"><span class="rp b b material-icons">stars</span>
          </div>
          <div class="player"><span class="rp b b material-icons">stars</span>
          </div>
          <div class="player"><span class="rp b b material-icons">stars</span>
          </div>
        </div>
      </div>
      <div class="astep step"></div>
      <div class="astep bluesafe"></div>
      <div class="astep step"></div>
      <div class="yellow">
        <div class="playerzone">
          <div class="player"><span class="rp y material-icons">stars</span>
          </div>
          <div class="player"><span class="rp y material-icons">stars</span>
          </div>
          <div class="player"><span class="rp y material-icons">stars</span>
          </div>
          <div class="player"><span class="rp y material-icons">stars</span>
          </div>
        </div>
      </div>

      <div class="astep step"></div>
      <div class="astep bluesafe"></div>
      <div class="astep step"></div>
      <div class="astep step"></div>
      <div class="astep bluesafe"></div>
      <div class="astep step"></div>
      <div class="astep step"></div>
      <div class="astep bluesafe"></div>
      <div class="astep step ystop"></div>
      <div class="astep bstop"></div>
      <div class="astep bluesafe"></div>
      <div class="astep step"></div>
      <div class="astep step"></div>
      <div class="astep step"></div>
      <div class="astep step"></div>
    </div>
    <div class="diceboard">
      <div class="info">
        <span class="playername text-success">
          Green Player
        </span>
        <div class="g-dice">

          <img src={{dicevalue2}} (click)="diceroll2()" style="height: 100%;width: 100%;">
        </div>
      </div>
      <div class="info">

        <div class="y-dice">

          <img src={{dicevalue3}} (click)="diceroll3()" style="height: 100%;width: 100%;">
        </div>
        <span class="playername text-warning">
          Yellow Player
        </span>
      </div>
    </div>

    <div class="mdiceboard">
      <div class="info">

        <div class="b-dice">

          <img src={{dicevalue4}} (click)="diceroll4()" style="height: 100%;width: 100%;">
        </div>
        <span class="mplayername text-primary">
          Blue Player
        </span>
      </div>
      <div class="info">

        <div class="y-dice">

          <img src={{dicevalue3}} (click)="diceroll3()" style="height: 100%;width: 100%;">
        </div>
        <span class="mplayername text-warning">
          Yellow Player
        </span>
      </div>
    </div>
    <button class="btn btn-outline-light" routerLink="/home">Exit Game</button>
  </div>


</div>
