<div class="fixed">
  <div class="welcome">
    <div class="setting">
      <div class="logo">
        <img src="assets/images/icon.png" class="logo">
      </div>
      <div class="name" [formGroup]="fbFormGroup">
        <input type="text" class="ri" placeholder="First Name" formControlName="fname">

        <input type="text" class="bi" placeholder="Last Name" formControlName="lname">

        <input type="text" #username class="ri" placeholder="UserName" formControlName="username">

        <input type="password" class="bi" placeholder="Password" formControlName="password">

        <input type="email" class="ri" placeholder="Email" formControlName="email">

        <input type="text" class="bi" placeholder="Mobile" formControlName="mobile">

        <br><br>
        <button class="play" (click)="register()">Register</button><br>
        <a class="note" routerLink="/login">Login</a><br>

        <div class="alert alert-danger" role="alert" *ngIf="uiInvalidCredential">
          User Already Exists..
        </div>

      </div>
    </div>
  </div>
</div>
